html {
    font-size: 14px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f5f1e8;
    background-image:
        radial-gradient(circle at 25% 25%, rgba(255,255,255,0.3) 2px, transparent 2px),
        radial-gradient(circle at 75% 75%, rgba(255,255,255,0.2) 2px, transparent 2px);
    background-size: 40px 40px;
    color: #333;
}

h1 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

a {
    color: #5196a6;
    text-decoration: none !important;
}

a:hover {
    color: #407784;
}

/*======== 中略 ========*/

.moattravel-card-link {
    transition: 0.3s;
}

.moattravel-card-link:hover {
    opacity: 0.7;
}

.moattravel-horizontal-card-image {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.moattravel-dropdown-item:active {
    background-color: #5196a6;
}

.moattravel-pre-wrap {
    white-space: pre-wrap;
}

footer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-color: #f2f0eb;
}

.moattravel-link-danger {
    color: #f2594b;
}

.moattravel-link-danger:hover {
    color: #a63c3c;
}

.moattravel-btn-danger {
    background-color: #f2594b !important;
    transition: 0.1s;
}

.moattravel-btn-danger:hover {
    opacity: 0.8;
}

.moattravel-wrapper {
    min-height: 100vh;
    position: relative;
    padding-bottom: 61px;
    box-sizing: border-box;
}

.moattravel-navbar {
    min-height: 60px;
}

.moattravel-logo {
    height: 70px;
}

.moattravel-btn {
    background-color: #5196a6 !important;
    transition: 0.1s;
}

.moattravel-btn:hover {
    opacity: 0.8;
}

.moattravel-page-link {
    color: #5196a6;
}

.moattravel-page-link:hover {
    color: #407784;
}

.moattravel-active {
    background-color: #5196a6 !important;
    border-color: #5196a6 !important;
}

.form-control::file-selector-button {
    font-size: 20px;
}

@media screen and (min-width: 1400px) {
    .moattravel-container {
        max-width: 1200px;
    }
}